.articles-list {
  margin: 50px 40px 0 40px ;
}

.list-article-link {
  text-decoration: none;
  color: var(--primaryLinkColour);
  padding: 3px;
  margin: 3px 0;
  display: inline-block;
};

.list-article-link:hover {
  color: purple;
};

.articles-list .articles-list-container {
  border: yellow solid 1px;
  margin: 10px 0;
}

.list-article-date {
  font-size: 0.7rem;
  margin: 0 auto;
}