.header {
  z-index: 1;
}

.nav {
  background: rgb(255, 155, 222);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;

}

.nav-link {
  color: white;
  font-size: 1rem;
  margin: 10px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(73, 192, 73);
}

.title {
  display: inline-block;
  font-size: 0.9rem;
  padding: 0;
  margin: 2px 0;
}


.mobile-nav-burger {
  display: block;
  position: relative;
  border-radius: 3px;
  height: 40px;
  width: 40px;
  background-color: yellow;
  transition: background-color 0.25s;
  border: yellow 1px solid;
  margin: 10px;
}

.mobile-nav-burger:hover {
  background-color:  rgba(175, 175, 175, 0.5);
}

.mobile-nav-burger span {
  border: 2px white solid;
  border-radius: 10px;
  width: 50%;
  margin: 15% auto;
  display: block;
}

.dekstop-nav {
  display: none;
}

@media only screen and (min-width: 650px) {
  .dekstop-nav {
    display: flex;
  }
  .mobile-nav-burger {
    display: none;
  }
}