.header {
  z-index: 1;
}

.nav {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.nav-link {
  color: var(--secondaryPink);
  font-size: 1rem;
  margin: 10px;
  text-decoration: none;
  transition: 0.25s color;
}

.nav-link:hover {
  color: var(--mainPink);
}

.nav-link-title {
  grid-column: 3;
  justify-self: end;
  margin: 10px 25px;
  text-decoration: none;
}

.title {
  font-size: 0.7em;
  padding: 0;
  margin: 2px 0;
  color: rgb(255, 155, 222);
}

.mobile-nav-burger {
  display: block;
  position: relative;
  border-radius: 3px;
  height: 40px;
  width: 40px;
  transition: background-color 0.25s;
  margin: 10px;
}

.mobile-nav-burger:hover {
  background-color:  rgba(255, 240, 240, 0.6);
}

.mobile-nav-burger span {
  border: 2px var(--secondPinkColour) solid;
  border-radius: 10px;
  width: 50%;
  margin: 15% auto;
  display: block;
}

.dekstop-nav {
  display: none;
}

@media only screen and (min-width: 650px) {
  .dekstop-nav {
    display: block;
    margin: 20px;
  }
  .mobile-nav-burger {
    display: none;
  }
  .title {
    font-size: 0.9rem;
  }
}