.mob-nav {
  padding-top: var(--navPadding);
  background-color: green;
  z-index: 0;
  position: fixed;
  width: 100%;
  transition: transform 0.5s cubic-bezier(.25,.58,.8,.64);
}

.open {
  transform: translate(0, 0%)
}

.closed {
  transform: translate(0, -100%);
}

.mob-nav-link {
  display: block;
  color: var(--primaryLinkColour);
  text-decoration: none;
  font-size: 2.5rem;
  text-align: center;
}

.mob-nav-link:hover {
  background: grey;
}

.mob-nav-link:active {
  background: white;
  color: black;
}

.close-nav {
  display: block;
  background: none;
  width: 100%;
  border: none;
}