:root {
  /* --nearBlack: rgb(15, 15, 15);
  --nearWhite: rgb(253, 253, 253);
  --footerPadding: 85px;
  --primaryLinkColour: rgb(83, 151, 206);
  --primaryLinkHover: rgb(193, 61, 226); */
  /* --footerBackground: rgb(175, 137, 190);
  --mainPink: rgb(240, 99, 193);
  --secondaryPink: rgb(255, 155, 222); */
  --redColour: #e45252;
  --secondPinkColour: rgb(255, 194, 252);
  --navPadding: 85px;
}

body {
  margin: 0;
  font-family: 'Rubik';
}

main {
  display: block;
}

.loading {
  margin: 75px 40px;
}