:root {
  --nearBlack: rgb(15, 15, 15);
  --nearWhite: rgb(253, 253, 253);
  --navPadding: 75px;
  --primaryLinkColour: rgb(253, 253, 253);
  --primaryLinkHover: green;
}

body {
  margin: 0;
  background-color: var(--nearBlack);
  color: var(--nearWhite);
  font-family: 'Rubik';
}