.categories-list {
  padding-top: var(--navPadding);
}

.search-results h3 {
  color: var(--mainPink);
}

.search-results-link {
  text-decoration: none;
  transition: color 0.25s;
}

.search-results-link:hover {
  color: var(--secondaryPink);
}