.home {
  padding-top: var(--navPadding);
}

.title-bar {
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.title {
  color: yellow;
}

.sub-title {
  color: purple;
  margin: 8px 0;
}

.sub-sub-title {
  color: green;
  margin: 5px 0;
  font-size: 1rem;
}

.tag-line {
  font-size: 0.8rem;
  font-weight: 300;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgb(122, 122, 112);
}