.home {
  padding-top: var(--navPadding);
}

.title-bar {
  background: rgb(233, 33, 66);
  color: rgb(245, 146, 162);
  text-align: center;

}

.title-text {
  
}

.sub-title {
  color: var(--mainPink);

}

.sub-sub-title {
  color: var(--secondaryPink);

}

.tag-line {

}

.loading {
  display: block;
  text-align: center;
}

.footer {
  background-color: var(--footerBackground);
}