.post {
  padding-top: var(--navPadding);
}

.post-loading {
  color: var(--secondaryPink);
}


.article {
  font-weight: 300;
  color: var(--mainPink);
}

.article-text-image {
  max-width: 100%;
  width: 100%;
}

.post-footer {
  background-color: var(--footerBackground);
}

.post-footer-category-link {
  text-decoration: none;
}

@media only screen and (min-width: 650px) {
  .article-text-image {
    max-width: 100%;
    width: 60%;
  }
}