.post {
  padding-top: var(--navPadding);
}

.article {
  padding: 5px;
  margin: 0 40px;
  font-weight: 300;
}

.article-text-image {
  max-width: 100%;
  width: 100%;
}

@media only screen and (min-width: 650px) {
  .article-text-image {
    max-width: 100%;
    width: 60%;
  }
}